.completion-table {
  th {
    white-space: nowrap;
    & > div {
      display: flex;
      align-items: center;
    }
  }
}
.username-cell {
  max-width: 150px;
  display: flex;
  justify-content: space-between;
}
